<?php

$order = new Mage_Sales_Model_Order();
$orderId = Mage::getSingleton('checkout/session')->getLastRealOrderId();
$order->loadByIncrementId($orderId);

$amount = $order->getSubtotal();

//set checkout session variables
Mage::getSingleton('checkout/session')->setOrderId($orderId); //orderId
Mage::getSingleton('checkout/session')->setAmount($amount); //amount

//single use token user from backend config
$tokenUser = Mage::getStoreConfig('test_section/test/single_use_token_user');

//single use token password from backend config
$tokenPassword = Mage::getStoreConfig('test_section/test/single_use_token_password');

//single token api key
$tokenApiKey = base64_encode($tokenUser.":".$tokenPassword);

?>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" ></script>
<!-- include the Paysafe.js SDK -->
<script src = "https://www.paysafe.com/hosted/js/1.1.0/paysafe.min.js"></script>

<!-- external style for the payment fields.internal style must be set using the SDK -->
<style>
  .inputField {
    border: 1px solid #E5E9EC;
    height: 40px;
    padding - left: 10px;
  }
</style>


<form id="paysafeForm" action="<?php echo Mage::getURL('test/paysafe/request', array('_secure' => false)); ?>" method="post">
    <!-- Create divs for the payment fields -->
    <div id = "cardNumber" class="inputField" ></div>
    <p></p>
    <div id = "expiryDate" class="inputField"></div>
    <p></p>
    <div id = "cvv" class="inputField"></div>
    <p></p>
    <input type="hidden" id="token" name="token" value="test">
    <!-- Add a payment button -->
    <button id = "payNow" type = "button"> Pay now </button>
</form>

<script type = "text/javascript">

    // Base64-encoded version the Single-Use Token API key.
    // Create the key below by concatenating the API username and password
    // separated by a colon and Base 64 encoding the result
    var apiKey = "<?php echo $tokenApiKey; ?>";

    var options = {

        // select the Paysafe test / sandbox environment
        environment: "TEST",

        // set the CSS selectors to identify the payment field divs above
        // set the placeholder text to display in these fields
        fields: {
            cardNumber: {
                selector: "#cardNumber",
                placeholder: "Card number"
            },
            expiryDate: {
                selector: "#expiryDate",
                placeholder: "Expiry date"
            },
            cvv: {
                selector: "#cvv",
                placeholder: "CVV"
            }
        }
    };

    // initalize the hosted iframes using the SDK setup function
    paysafe.fields.setup(apiKey, options, function(instance, error) {

        // When the customer clicks Pay Now,
        // call the SDK tokenize function to create
        // a single-use payment token corresponding to the card details entered
        document.getElementById("payNow").addEventListener("click", function(event) {
            event.preventDefault();
            instance.tokenize(function(instance, error, result) {
                if (error) {
                    // display the tokenization error in dialog window
                    alert(JSON.stringify(error));
                } else {
                    // write the Payment token value to the browser console
                    console.log(result.token);

                    //put the token in the hidden field
                    document.getElementById("token").value = result.token;

                    //submit the form after putting the token value in the hidden input field
                    document.getElementById("paysafeForm").submit();
                }
            });
        }, false);
    });
</script>

